<div class="row">
  <div class="col-md-3">
    <h3>When to use</h3>
    <p>Dropdown menus are used when displaying several related links will not fit the alotted space. There are 3 styles of dropdowns, each with a different purpose. Use the links below to learn more about the usage guidelines for each one:</p>
    <ul>
      <li><a href="#primary-dropdown">Primary Dropdown</a></li>
      <li><a href="#utility-dropdown">Utility Dropdown</a></li>
      <li><a href="#action-dropdown">Action Dropdown</a></li>
    </ul>
    <h4>Adherence Rating: 3</h4>
  </div>
  <div class="col-md-9">
    <h4>Markup</h4>
<pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>Coming soon...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>
  </div>
</div>