<div class="row">
  <div class="col-md-3">
    <h3>How it works</h3>
    <p>Forms consist of two or more elements in key/value (or label/input) format.</p>
    <ul>
      <li>Each key should be specific, short and easy to read.</li>
      <li>When creating, name fields come first.</li>
      <li>Specify the input size to match the width of the data: xsmall, small, medium, large, xlarge, xxlarge.</li>
      <li>Specify form sizes to match the width of the longest label: xsmall, small, medium, large, xlarge, xxlarge. (Applies to all but Create Form)</li>
    </ul>
    <h4>Adherence Rating: 2</h4>
  </div>
  <div class="col-md-9">
    <h4>Markup</h4>
<pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>Coming soon...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>
  </div>
</div>
