<div class="row">
 <div class="col-md-3">
       <h3>Headings</h3>
       <p>Use these styles to visually distinguish sections of content.</p>
       <h3>When to use</h3>
       <ul>
           <li>Page titles should use &lt;h2 class=&quot;rs-page-title&quot;&gt;</li>
           <li><a href="#details">Section</a> headings should use &lt;h1&gt;, sub-sections should use &lt;h3&gt;.</li>
           <li>Sidebar headings should use &lt;h3&gt;, sidebar sub-headings should use &lt;h4&gt;</li>
       </ul>
       <h4>Adherence Rating: 2</h4>
 </div>
 <div class="col-md-9">
   <h4>Markup</h4>
<pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>Coming soon...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>
 </div>
</div>
